{% extends "index.html" %}
{% load static %}
{% block content %}

<div class="row mt-4">
</div>

<div class="row">
  <div class="col-lg-10">
    <nav aria-label="breadcrumb" class="rounded-3 p-3 mb-4">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sepetim</li>
        {% if sepetim %}
        <li class="breadcrumb-item"><a href="/mybasket_onay">Sepeti Onayla</a></li>
        {% else %}
        <li class="breadcrumb-item"><a href="/"></a></li>
        {% endif %}


      </ol>
    </nav>
  </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="cart-table-container card">
            <table class="table card-body table-cart">
                <thead>
                    <tr>
                        <th class="thumbnail-col"></th>
                        <th class="product-col">ÜRÜN</th>
                        <th class="price-col">FİYAT</th>
                        <th class="qty-col">ADET</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for u in sepetim %}
                        {% if u.kullanici.username == request.user.username %}
                        {% if sepetim %}
                            <tr class="product-row">
                                <!-- Boş Alan -->
                                <td>
                                    <figure class="product-image-container">
                                            <img src="..{{ u.ürün.ürün_image_name.url }}" style="border-radius: 50%; width: 38px; height: 38px; position: relative; left:30px; top:5px;" >
                                    </figure>
                                </td>
                                <!-- Ürün İmage -->
                                <td class="product-col">
                                    <h5 class="product-title"  style="font-size:20px; line-height: 2.3;">
                                        {{ u.ürün.ürün_descrption }}
                                    </h5>
                                </td>
                                <!-- Ürün Fiyat Alanı -->
                                <td>
                                    <p style="line-height: 3;">
                                        {{ u.ürün.ürün_price }} ₺
                                    </p>
                                </td>

                                <!-- Ürün Adet Alanı -->
                                <td>
                                    <span style="position: relative; top: 10px; color:white; display: inline-block;">
                                        <form action="../sepet_eksi/" method="POST" style="display: inline-block;">
                                        {% csrf_token %}
                                            <input type="text" style="display: none;" class="form-control" name="eksideger" value="{{ u.id }}">
                                            <button type="submit" style="padding:0px 5px 0px 5px;" class="btn btn-danger">-</button>
                                        </form>

                                            <a style="padding:7px 5px 7px 5px; color:white !important; background-color: black; text-decoration: none;" class="badge badge-dark">{{ u.total_atted }}</a>

                                        <form action="../sepet_arti/" method="POST" style="display: inline-block;">
                                        {% csrf_token %}
                                            <input type="text" style="display: none;" class="form-control" name="artideger" value="{{ u.id }}">
                                            <button type="submit" style="padding:0px 5px 0px 5px;" class="btn btn-primary">+</button>
                                        </form>
                                </span>
                            </td>

                                <!-- Ürün Delete Alanı -->
                                <td class="text-right">
                                    <form action="../sepet_delete/" method="post">
                                        {% csrf_token %}
                                        <span class="subtotal-price">
                                            <div class="product-image" style="cursor: pointer; line-height: 4;">
                                                <input type="text" name="ids" value="{{ u.id }}" style="display: none;">
                                                <input type="image" src="{% static 'image/çöp.png' %}" style="border-radius: 50%; width: 30px; height: 30px;">
                                            </div>
                                        </span>
                                    </form>
                                </td>

                            </tr>          
                    
                    

                    {% else %}
                     
                    <tr class="product-row">
                        <!-- Boş Alan -->
                        <td>
                            <figure class="product-image-container">
                            </figure>
                        </td>
                        <!-- Ürün İmage -->
                        <td class="product-col">
                            <h5 class="product-title"  style="font-size:20px; line-height: 2.3;">
                                Ürün Bulunamadı
                            </h5>
                        </td>
                        <!-- Ürün Fiyat Alanı -->
                        <td>
                            <p style="line-height: 3;">
                            </p>
                        </td>

                        <!-- Ürün Adet Alanı -->
                        <td>
                            
                    </td>

                        <!-- Ürün Delete Alanı -->
                        <td class="text-right"><span class="subtotal-price">
                        </td>
                    </tr> 
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    
                            

                </tbody>

            </table>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card" style="padding:20px">
            <h3>Sipariş Özeti</h3>

                {% if sepetim %}
                    {% if request.user.username %}
                            <table class="table table-totals">
                                <tbody>
                                    <tr>
                                        <td>Ürün Toplam</td>
                                        <td>{{ fiyat }} ₺</td>
                                    </tr>
                                </tbody>
                
                                <tfoot>
                                    
                                </tfoot>
                            </table>

                            <div class="checkout-methods">
                                <a href="/mybasket_onay" class="btn btn-block btn-dark">SEPETİ ONAYLA
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                    {% else %}
                        <table class="table table-totals">
                            <tbody>
                                <tr>
                                    <td>Ürün Toplam</td>
                                    <td>0 ₺</td>
                                </tr>
                            </tbody>
            
                            <tfoot>
                                <tr>
                                    <td>Kargo Toplam</td>
                                    <td>0 ₺</td>
                                </tr>
                            </tfoot>     
                        </table>

                        <div class="checkout-methods">
                            <a href="#" class="btn btn-block btn-dark">SEPETİ ONAYLA
                                <i class="fa fa-arrow-right"></i></a>
                        </div>        
                    {% endif %}
                {% endif %}

        </div>
    </div>
</div>
</div>

<div class="mb-6"></div>
</main>


{% endblock %}