{% extends "index.html" %}

{% block content %}

        <div class="row mt-5" >
            
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d96685.69026947228!2d29.43062695310059!3d40.774607815159555!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1684436995923!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col">
                <h2>Biz Kimiz</h2>
                {% for i in site %}
                <code style="color:black;">
                    {{ i.bizkmz_text }}
                </code>
                {% endfor %}
            </div>

        </div>
      </div>

      {% endblock %}