{% extends "index.html" %}
{% block content %}

{% if user.is_authenticated %}
    
<script>
  window.location.href = "http://127.0.0.1:8000/";
</script>

    {% else %}
        <div class="row mt-5" >
            
            <div class="col"></div>
            <div class="col-md-6">

                <h2>Kayıt Alanı</h2>
                <form method="POST" action="/register/">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Mail Adresiniz</label>
                        <input type="email" required name="email" class="form-control" id="exampleInputEmail1">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Adınız Soyadınız</label>
                        <input type="text" required name="username" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Parola</label>
                        <input type="password" name="password" required class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Parola Tekrar</label>
                        <input type="password" name="passwordx" required class="form-control" id="exampleInputPassword1">
                        <div id="emailHelp" class="form-text">Mevcut Hesabım Zaten Var <a href="/login">Giriş Alanı</a>.</div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Kayıt</button>
                </form>
            </div>
            <div class="col"></div>

          

        </div>
      </div>

      {% endif %}
      {% endblock %}