{% extends "index.html" %}
{% load static %}
{% block content %}

        <div class="row mt-5" >
            
          
            <div class="col-lg-11">

                <h2>Sıkça Sorulan Sorular</h2>
                 <br>
                  <div class="accordion" id="accordionExample">

                    {% for r in yardim %}
                  
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ r.yrdm_keywords }}" aria-expanded="true" aria-controls="{{ r.yrdm_keywords }}">
                          {{ r.yrdm_title }}
                        </button>
                      </h2>
                      <div id="{{ r.yrdm_keywords }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>
                            {{ r.yrdm_description }}
                          </strong>
                        </div>
                      </div>
                    </div>
                    
                    {% endfor %}
                  </div>
            </div>

        </div>
      </div>

      {% endblock %}